@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px){
    section#login{
        width: 80vw;
        
    }

    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100vh;
    }

    section#login





}