@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82

*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

htmlm, body{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}



section#login{
    
    border-radius: 20px;
    width: 250px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.432);
   
}
section#login > div#imagem{
    display: block;
    background-color: #5f2c82;
    background-image: url(../imagens/pexels-dapo-abideen-1908900-5677459.jpg);
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

section#login > div#form{
    display: block;
}

div#form{
    padding: 10px;
}

section > div#form > h1{
    text-align: center;
    font-size: 32px
}

section > div#form > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    padding: 5px;
    
}

div#usu{
    background-color: #5f2c82;
    color: white;
    padding: 4px;
    border-radius: 10px;
}

input#iemail{
    width: 190px;
    height: 30px;
    padding: 15px;
    border-radius: 10px;
}

label#icon{
    position: relative;
}

span.materials-icons{
    
    position: absolute;
    left: 500%;
    top: 50%;
    transform: translate(50%, 50%);
}